
<article class="book">
  <small>

    <h2><%= link_to book.name, book_path(book) %></h2>

    <%= link_to 'Редактировать', edit_book_path(book) %>
    <%= link_to 'Удалить', book_path(book), method: :delete, data: { confirm: 'Вы уверенны?' } %>

  </small>

  <section class="clearfix">

  <%= image_tag book.image.url(:thumb), class: 'img-thumbnail thumb' if book.image? %>

  <%= book.body %>

  </section>

  <section class="footer">
  <%= raw book.categories.map(&:name).map{ |t| link_to t, category_path(t), class: 'tag tag-primary' }.join(' ') %>
  </section>

  <section class="footer">
  <%= raw book.authors.map(&:name).map{ |t| link_to t, author_path(t), class: 'tag tag-primary' }.join(' ') %>
  </section>
</article>
