

<h2>
  <%= @book.name %>
</h2>
<section class="footer">
  <%= link_to 'Редактировать', edit_book_path(@book) %>
  |
  <%= link_to 'Удалить', book_path(@book), method: :delete, data: { confirm: 'Вы увереннны?' } %><br />

автор(ы): <%= raw @book.authors.map(&:name).map{ |t| link_to t, author_path(t), class: 'tag tag-primary' }.join(' ') %><br />

категория: <%= raw @book.categories.map(&:name).map{ |t| link_to t, category_path(t), class: 'tag tag-primary' }.join(' ') %>
</section>
<%= image_tag @book.image.url(:large), class: 'img-show' if @book.image? %>
<p>
  <strong>Описание:</strong>
  <%= @book.body %>
</p>

<section class="footer">

</section>
